/* Write your CSS code here. */
.bg-color {
  background-color: grey;
  height: 40px;

  width: 80%;
  justify-content: space-between;
}
.heading {
  color: red;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 15px;
  font-family: 'Roboto';
  padding-top: 10px;
}
.dropdown-icon {
  font-size: 25px;
}
